<% include ../../partials/header %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/public_assets/css/card-slider.css">
    <link rel="stylesheet" type="text/css" href="/public_assets/css/slider-responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@2.1.99/css/materialdesignicons.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/css/swiper.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/slider-viewJob.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

    <body class="vertical-layout vertical-menu-modern 2-columns navbar-floating footer-static  pose-lead"
    data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

        <% include ./partials/navbar%>
            <% include ./partials/leftpane%>
                <% include ../../partials/flash %>

                    <div class="app-content content basic-timeline">
                        <div class="content-overlay"></div>
                        <div class="header-navbar-shadow"></div>
                        <div class="content-wrapper">
                            <!-- <div class="content-header row"></div> -->
                            <div class="content-body  mb-4">

                                <div class="uploader-container">
                                    <div class="uploader-header">Document Uploader</div>

                                    <div id="documentContainer">
                                        <% mergedDocs.forEach((a)=>{%>
                                            <div class="doc-row">

                                                <div class="file-containers d-flex align-items-center gap-4">
                                                    <% if (!a.uploads || a.uploads.length === 0) { %>
                                                        <div class="d-flex align-items-center gap-4 innerfile-container" style="gap: 20px;">
                                                            <div class="align-items-center gap-4 innerfile-container" style="gap: 20px;">
                                                           
                                                                <span class="title m-0 text-capitalize"><%- a.Name%></span>
                                                                
        
                                                                <div class="actionsbtn pt-2">
                                                                    <label for="file" class="button upload-btn">Choose File
                                                                        <input type="file" id='<%- a._id%>docPopUp'
                                                                            class="file-inputs fileInput"
                                                                            accept=".pdf,.doc,.docx,.jpg,.jpeg,.png"
                                                                            onchange="validateFile(this,'<%- a._id%>' )">
                                                                    </label>
                                                                </div>
                                                                <div id="<%- a._id%>image-preview"
                                                                    style="display: flex; flex-wrap: wrap; gap: 10px;">
                                                                </div>
                                                            </div>
                                                          
                                                            <button class="upload-btn mt-3"
                                                                onclick="uploadFile(this,'<%- a.Name%>','<%- a._id%>')">Upload</button>
                                                            </div>
                                                        
                                                        <% } %> 
                                                    
                                                      <%if (a.uploads.length > 0 && a.uploads[a.uploads.length - 1].status === 'Pending') {%>
                                                        <!-- Optional: show a different message or no button at all when documents exist -->
                                                        <span class="text-success"> Your <%- a.Name%> Already uploaded please check the status by click on the check status button</span>
                                                        <div class="d-flex flex-wrap align-items-center justify-content-end">

                                                            <!-- <img src="/images/filtern.png"
                                                                class="btn btn-link collapsed py-0 mx-0" data-toggle="collapse"
                                                                data-target="#collapseOne" aria-expanded="true"
                                                                aria-controls="collapseOne" id="filter-docs"> -->
                                                            <button 
                                                                class="btn btn-link collapsed py-0 mx-0 filter-docs"
                                                                data-doc-id="<%- a._id%>" alt="Filter">
                                                                Check Status</button>
                                                        </div>
                                                    <% } %>
                                                    <%if (a.uploads.length > 0 && a.uploads[a.uploads.length - 1].status === 'Rejected') {%>
                                                        <!-- <label class="field-label"><%- a.Name%></label> -->
                                                        <span class="text-success"> Your <%- a.Name%> has been rejected due to "<%- a.uploads[a.uploads.length - 1].reason%>". Please upload a new document for verification. </span>


                                                    <div class="add-doc-container">
                                                        <!-- <button class="upload-btn"
                                                            onclick="uploadFile(this)">Upload</button> -->
                                                            
                                                        <button class="upload-btn"
                                                            onclick="openPopup('<%- a._id%>')">Upload New Document</button>
                                                           
                                                    </div>
                                                    <div class="d-flex flex-wrap align-items-center justify-content-end">

                                                        <!-- <img src="/images/filtern.png"
                                                            class="btn btn-link collapsed py-0 mx-0" data-toggle="collapse"
                                                            data-target="#collapseOne" aria-expanded="true"
                                                            aria-controls="collapseOne" id="filter-docs"> -->
                                                        <button 
                                                            class="btn btn-link collapsed py-0 mx-0 filter-docs"
                                                            data-doc-id="<%- a._id%>" alt="Filter">
                                                            Check Status</button>
                                                    </div>
                                                        <% } %>

                                                </div>

                                                



                                            </div>
                                        

                                            <div id="collapseOne<%- a._id%>" style="display: none;">
                                                <div
                                                    class="pl-xl-0 pr-xl-1 pl-lg-0 pr-lg-1 pl-md-0 pr-md-1  px-sm-0 px-0 mx-auto">
                                                    <div class="table-content shadow-cashback shadow-cashback">
                                                        <div class="tab_head font-weight-bolder py-1 px-1"> Uploaded
                                                            Document
                                                        </div>

                                                        <table class="table table-responsive">
                                                            <thead>
                                                                <tr class="tab_row docs--rows">
                                                                    <th scope="col" width="10%">S.No</th>
                                                                    <th scope="col" width="10%">Date</th>
                                                                    <th scope="col" width="20%">View</th>
                                                                    <th scope="col" width="35%">Verification Status</th>
                                                                    <th scope="col" width="30%">Reason (If rejected)</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% a.uploads.forEach((upload, index)=> { %>
                                                                        <tr class="docs--rows">
                                                                            <td>
                                                                                <%= index + 1 %>
                                                                            </td>
                                                                            <td>
                                                                                <%= moment(upload.uploadedAt).format('DD/MM/YYYY HH:mm:ss') %> 
                                                                              </td>
                                                                              <td>
                                                                                <a href="<%= upload.fileUrl %>" target="_blank" class="btn btn-primary">VIEW</a>
                                                                            </td>
                                                                            
                                                                            
                                                                            
                                                                            <!-- <td><span class="">Approved</span></td> -->
                                                                            <td>
                                                                               
                                                                                    <span
                                                                                        class="status">
                                                                                        <%= upload.status %>
                                                                                        
                                                                                    </span>
                                                                                  
                                                                                        
                                                                                        
                                                                            </td>
                                                                            <td>
                                                                                <%- upload.reason ? upload.reason : 'NA' %>

                                                                               
                                                                            </td>
                                                                        </tr>
                                                                        <% }) %>
                                                                       
                                                            </tbody>
                                                        </table>
                                                   
                                                    </div>
                                                </div>

                                            </div>

                                            <div id="popup<%- a._id%>" class="file-container2 trans_parent d-none">
                                                <div class="popupModel">
                                                    <span onclick="closePopup('<%- a._id%>')" class="close">X</span>
                                                    <div class="contents">
                                                        <span class="title m-0"><%- a.Name%></span>
                                                        <p class="message">Select a file to upload from your computer or
                                                            device.</p>

                                                        <div class="actions">
                                                            <label for="file" class="button upload-btn">Choose File
                                                                <input type="file" id='<%- a._id%>docPopUp'
                                                                    class="file-input fileInput"
                                                                    accept=".pdf,.doc,.docx,.jpg,.jpeg,.png"
                                                                    onchange="validateFile(this,'<%- a._id%>' )">
                                                            </label>
                                                        </div>
                                                        <div id="<%- a._id%>image-preview"
                                                            style="display: flex; flex-wrap: wrap; gap: 10px;">
                                                        </div>
                                                    </div>
                                                    <button class="upload-btn upload-new-btn"
                                                        onclick="uploadnewFile(this,'<%- a.Name%>','<%- a._id%>')">Upload</button>
                                                </div>
                                            </div>

                                            <%})%>

                                    </div>

                                </div>

                            </div>



                        </div>
                    </div>

                    <style>
                        /* From Uiverse.io by Yaya12085 */
                        .trans_parent {
                            background-color: rgba(0, 0, 0, 0.5);
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            z-index: 12;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        .popupModel {
                            position: relative;
                            background: white;
                            max-width: 400px;
                            margin: 85px auto;
                            padding: 20px;
                            border-radius: 8px;
                            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                            width: 100%;
                            text-align: center;
                        }

                        .contents>*,
                        .popupModel>* {
                            padding: 0.875em;
                        }

                        .title {
                            font-size: 1.25em;
                            font-weight: 600;
                            line-height: 1.2;
                            /* display: flex; */
                            justify-content: center;
                        }

                        .message {
                            line-height: 1.2;
                            text-align: center;
                        }

                        .actions {
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                        }

                        .upload-btn {
                            background-color: transparent;
                            border: 0.125rem dashed hsla(223, 10%, 50%, 0.4);
                            flex: 1;
                            padding: 0.375rem 2rem;
                        }

                        .upload-btn:hover {
                            background-color: hsla(223, 10%, 60%, 0.2);
                        }

                        .upload-new-btn {
                            position: relative;
                            z-index: 13;
                        }

                        .close {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgb(226, 94, 54);
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            color: #fff;
                            font-weight: bold;
                            cursor: pointer;
                            z-index: 13;
                        }

                        .result {
                            margin-top: 4px;
                            background-color: rgba(0, 140, 255, 0.062);
                            display: flex;
                            align-items: center;
                            position: relative;
                            border-radius: 1em;
                        }

                        .file-uploaded {
                            font-weight: 300;
                        }

                        .file-uploaded::before {
                            position: absolute;
                            content: "X";
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(26, 7, 1, 0.212);
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            right: 10px;
                            top: 10px;
                            color: rgb(255, 255, 255);
                            font-weight: bold;
                            cursor: pointer;
                        }

                        .file-uploaded:hover::before {
                            background-color: rgba(233, 40, 6, 0.664);
                        }


                        .uploader-container {
                            background-color: #ffffff;
                            border-radius: 12px;
                            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
                            overflow: hidden;
                            margin: 20px auto;
                            max-width: 900px;
                        }

                        .uploader-header {
                            /* background: linear-gradient(135deg, #3498db, #2c3e50); */
                            background: linear-gradient(135deg, #6b45a9, #e83a5f);
                            color: white;
                            padding: 20px;
                            text-align: center;
                            font-size: 24px;
                            font-weight: 600;
                        }

                        .doc-row {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 15px;
                            padding: 25px;
                            border-bottom: 1px solid #eaeaea;
                            background-color: #f8f9fa;
                            ;
                            transition: all 0.3s ease;
                        }

                        .doc-row:hover {
                            background-color: #f0f7ff;
                            transform: translateY(-2px);
                        }

                        .field-label {
                            display: block;
                            margin-bottom: 8px;
                            color: #2c3e50;
                            font-weight: 600;
                            font-size: 14px;
                            white-space: nowrap;
                        }

                        .file-containers {
                            flex: 1 1 250px;
                            position: relative;
                            gap: 40px;
                        }

                        .file-input-label {
                            display: block;
                            position: relative;
                            width: 100%;
                            height: 45px;
                            background-color: #f0f0f0;
                            border: 2px solid #e0e0e0;
                            border-radius: 6px;
                            text-align: center;
                            line-height: 45px;
                            cursor: pointer;
                            overflow: hidden;
                            color: #555;
                            font-weight: 500;
                            transition: all 0.3s;
                            margin: 0 !important;
                            transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.1s ease;
                        }

                        .file-input-label:hover {
                            background-color: #e8e8e8;
                            border-color: #d0d0d0;
                        }

                        .file-input-label:active {
                            transform: scale(0.98);
                        }

                        .file-input {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            cursor: pointer;
                        }

                        .upload-btn {
                            /* background-color: #3498db; */
                            background: linear-gradient(135deg, #6b45a9, #e83a5f);
                            color: white;
                            border: none;
                            border-radius: 6px;
                            padding: 12px 15px;
                            font-size: 14px;
                            font-weight: 600;
                            cursor: pointer;
                            transition: all 0.3s;
                            box-shadow: 0 3px 10px rgba(107, 69, 169, 0.3);
                            transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
                        }

                        .upload-btn:hover {
                            /* background-color: #2980b9; */
                            background: linear-gradient(135deg, #5d3b93, #d62e50);
                            box-shadow: 0 5px 15px rgba(232, 58, 95, 0.4);
                        }

                        .upload-btn:active {
                            transform: translateY(0);
                        }

                        .add-doc-container {
                            display: flex;
                            align-items: center;
                        }

                        #image-preview {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 10px;
                            margin-top: 15px;
                            min-height: 60px;
                        }

                        .preview-item {
                            position: relative;
                            display: inline-block;
                            margin-right: 10px;
                            margin-bottom: 10px;
                            transition: opacity 0.3s ease, transform 0.3s ease;
                        }

                        .preview-item img,
                        .preview-item video {
                            width: 80px;
                            height: 80px;
                            border-radius: 8px;
                            object-fit: cover;
                            border: 1px solid #ddd;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                            transition: transform 0.2s ease;
                        }

                        .preview-item .preview-icon {
                            width: 80px;
                            height: 80px;
                            border-radius: 8px;
                            background-color: #f5f5f5;
                            border: 1px solid #ddd;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #555;
                            font-weight: bold;
                            font-size: 12px;
                            text-align: center;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                            transition: transform 0.2s ease, box-shadow 0.2s ease;
                        }

                        .remove-btn {
                            position: absolute;
                            top: -8px;
                            right: -8px;
                            background: #ff5252;
                            color: white;
                            border-radius: 50%;
                            width: 22px;
                            height: 22px;
                            font-size: 12px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            border: 2px solid white;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                            transition: all 0.2s;
                            transition: background-color 0.2s ease, transform 0.2s ease;
                        }

                        .remove-btn:hover {
                            background: #ff0000;
                            transform: scale(1.1);
                        }

                        .file-name {
                            font-size: 12px;
                            color: #555;
                            max-width: 80px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            text-align: center;
                            margin-top: 5px;
                        }
.table-responsive{
    overflow-x: auto;
}
                        @media (max-width: 768px) {

                            .upload-btn {
                                width: 100%;
                                margin-top: 15px;
                            }
                            .innerfile-container{
                                flex-direction: column;
                            }
                            .docs--rows th , .docs--rows td{
                                white-space: nowrap;
                            }
                        }
                    </style>

                    <!-- JavaScript Code -->
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                    <script>
                        $(document).ready(function () {
                            $(".filter-docs").click(function () {
                                let docId = $(this).data("doc-id"); // Get the document ID
                                let previewSection = $("#collapseOne" + docId); // Find related preview section

                                // Hide all other preview sections except the selected one
                                $(".collapse-section").not(previewSection).slideUp(300).removeClass('active');

                                if (previewSection.hasClass('active')) {
                                    previewSection.slideUp(300).removeClass('active');
                                } else {
                                    // Clear other tables before opening a new one
                                    $(".collapse-section tbody").empty();

                                    // Populate the specific table with only relevant data
                                    let docData = $(`#doc-data-${docId}`).html();
                                    previewSection.find("tbody").html(docData);

                                    previewSection.slideDown(300).addClass('active');
                                }
                            });
                        });



                        //                         $(document).ready(function () {
                        //     $(".filter-docs").click(function () {
                        //         let parentRow = $(this).closest(".doc-row"); // Get parent document row
                        //         let docId = $(this).data("doc-id"); // Get document ID
                        //         let previewSection = $("#collapseOne" + docId); // Find related preview section

                        //         // Hide all other preview sections except the current one
                        //         $(".collapse-section").not(previewSection).slideUp(300);

                        //         // Toggle visibility of the clicked section
                        //         previewSection.stop(true, true).slideToggle(300);
                        //     });
                        // });


                        function openPopup(id) {
                            $(`#popup${id}`).removeClass('d-none')

                        }
                        function closePopup(id) {
                            $(`#popup${id}`).addClass('d-none')

                        }
                        function removeFile(id) {
                            console.log(id);
                            const a = document.getElementById(`${id}docPopUp`).value;
                            console.log(a);



                            document.getElementById(`${id}docPopUp`).value = "";
                            document.getElementById(`${id}image-preview`).innerHTML = "";






                        }


                        let selectedFiles = [];

                        function validateFile(input, courseId) {
                            const allowedExtensions = ["pdf", "doc", "docx", "jpg", "jpeg", "png"];
                            let validFiles = true;

                            // Check each file for valid extension
                            Array.from(input.files).forEach(file => {
                                const fileExtension = file.name.split('.').pop().toLowerCase();
                                if (!allowedExtensions.includes(fileExtension)) {
                                    validFiles = false;
                                }
                            });

                            if (!validFiles) {
                                alert("Please upload only PDF, DOC, DOCX, JPG, JPEG, or PNG files!");
                                input.value = ""; // Clear input on invalid files
                                return;
                            }

                            // Preview files
                            displayFilePreview(input.files, courseId);
                        }

                        function displayFilePreview(files, courseId) {
                            let previewContainer = document.getElementById(`${courseId}image-preview`);
                            previewContainer.innerHTML = ""; // Clear existing previews

                            if (files && files.length > 0) {
                                selectedFiles = Array.from(files); // Store files for later use

                                selectedFiles.forEach((file, index) => {
                                    const previewItem = document.createElement("div");
                                    previewItem.className = "preview-item";
                                    previewItem.dataset.index = index;

                                    // Create appropriate preview based on file type
                                    if (file.type.startsWith("image/")) {
                                        // Image preview
                                        let reader = new FileReader();
                                        reader.onload = function (e) {
                                            previewItem.innerHTML = `
                                            <img src="${e.target.result}" alt="${file.name}">
                                            <div class="remove-btn" onclick="removeFile('${courseId}')">×</div>
                                            <div class="file-name">${truncateFilename(file.name)}</div>
                                        `;
                                        };
                                        reader.readAsDataURL(file);
                                    } else {
                                        // Generic file icon for PDFs, DOCs, etc.
                                        let fileIcon = getFileIcon(file.name);
                                        previewItem.innerHTML = `
                                        <div class="preview-icon">${fileIcon}</div>
                                        <div class="remove-btn" onclick="removeFile()">×</div>
                                        <div class="file-name">${truncateFilename(file.name)}</div>
                                    `;
                                    }

                                    previewContainer.appendChild(previewItem);
                                });
                            }
                        }

                       

                        function getFileIcon(filename) {
                            const extension = filename.split('.').pop().toLowerCase();

                            switch (extension) {
                                case 'pdf':
                                    return 'PDF';
                                case 'doc':
                                case 'docx':
                                    return 'DOC';
                                default:
                                    return 'FILE';
                            }
                        }

                        function truncateFilename(filename) {
                            if (filename.length > 15) {
                                const extension = filename.split('.').pop();
                                const name = filename.substring(0, filename.length - extension.length - 1);
                                return name.substring(0, 10) + '...' + '.' + extension;
                            }
                            return filename;
                        }



                        function uploadFile(button, docsname, docsId) {
                            let courseId = '<%= courseId %>';
                            

                            if (!courseId || courseId === "undefined") {
                                console.error("Error: courseId is missing.");
                                alert("Error: Course ID is not available.");
                                return;
                            }

                            console.log("Course ID:", courseId);

                            let inputElement = button.closest('.file-containers').querySelector('.file-inputs');
                            let files = inputElement.files;
                            let docsName = docsname
                            console.log(docsId);
                            console.log(docsname)

                            if (files.length === 0) {
                                alert("Please select a file before uploading.");
                                return;
                            }

                            let formData = new FormData();
                            formData.append("file", files[0]);
                            formData.append("docsName", docsname);
                            formData.append("courseId", courseId);
                            formData.append("docsId", docsId);
                            console.log(formData)

                            axios.post(`/candidate/reqDocs/${courseId}`, formData, {
                                headers: {
                                    'x-auth': localStorage.getItem('token'),
                                    'Content-Type': 'multipart/form-data'
                                }
                            })
                                .then(result => {
                                    alert("Your documents uploadded successfully");
                                    window.location.reload()
                                    


                                }).catch(err => {
                                    console.log(err.message)
                                    window.location.reload()
                                })
                        }
                        function uploadnewFile(button, docsname, docsId) {
                            let courseId = '<%= courseId %>';
                            

                            if (!courseId || courseId === "undefined") {
                                console.error("Error: courseId is missing.");
                                alert("Error: Course ID is not available.");
                                return;
                            }

                            console.log("Course ID:", courseId);

                            let inputElement = button.closest('.file-container2').querySelector('.file-input');
                            let files = inputElement.files;
                            let docsName = docsname
                            console.log(files)

                            if (files.length === 0) {
                                alert("Please select a file before uploading.");
                                return;
                            }

                            let formData = new FormData();
                            formData.append("file", files[0]);
                            formData.append("docsName", docsname);
                            formData.append("courseId", courseId);
                            formData.append("docsId", docsId);
                            console.log(formData)

                            axios.post(`/candidate/reqDocs/${courseId}`, formData, {
                                headers: {
                                    'x-auth': localStorage.getItem('token'),
                                    'Content-Type': 'multipart/form-data'
                                }
                            })
                                .then(result => {
                                    alert("Your documents uploadded successfully");
                                    window.location.reload()


                                }).catch(err => {
                                    console.log(err.message)
                                    window.location.reload()
                                })
                        }




                        // if (selectedFiles.length === 0) {
                        //     alert("Please select files to upload first");
                        //     return;
                        // }

                        // Here you would typically implement your upload logic
                        // For demonstration, we'll just show a success message
                        // alert(`${selectedFiles.length} file(s) uploaded successfully!`);

                        // Clear form after successful upload
                        // document.getElementById("docPopUp").value = "";
                        // document.getElementById("image-preview").innerHTML = "";
                        // selectedFiles = [];}

                    </script>
                     <% include ./partials/footer%>


    </body>
    </html>