<% include ../partials/header %>

    <div class="content-header row d-xl-block d-lg-block d-md-none d-sm-none d-none">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h3 class="content-header-title float-left mb-0">Access </h3>
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                            <li class="breadcrumb-item active">Access </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <% include ../partials/flash %>

            <section class="list-view">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 equal-height-2">
                        <div class="card">
                            <div class="card-header border border-top-0 border-left-0 border-right-0">

                                <h4 class="card-title pb-1">Add Role</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-xl-6 mb-1">
                                            <label>Role Type</label>
                                            <select class="form-control" name="role" id="roleName">
                                                <option value="">Select Option</option>
                                                <option value="Counsellor">Counsellor</option>
                                                <option value="Placement Executive">Placement Executive</option>
                                                <option value="FSE Sales">FSE Sales</option>
                                                <option value="TL Inside Sales">TL Inside Sales</option>
                                                <option value="Center Manager">Center Manager</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-6 mb-1">
                                            <label>Name</label>
                                            <input type="text" class="form-control" id="name" name="name"
                                                placeholder="Name" />
                                        </div>
                                        <div class="col-xl-6 mb-1">
                                            <label>Email Id</label>
                                            <input type="email" class="form-control" id="email" name="email"
                                                placeholder="Email" />
                                        </div>

                                        <!-- <div class="col-xl-4 mb-1">
												<label>Center</label>
												<input type="text" class="form-control"
													value="" name="center"
													placeholder="center" 
													/>
											</div> -->
                                        <div class="col-xl-6 mb-1">
                                            <label>Password</label>
                                            <input type="password" id="password" class="form-control" name="password"
                                                placeholder="Password" />
                                        </div>
                                        <div class="col-xl-6 mb-1 dropdown_container">
                                            <label>Center</label>
                                            <div class="custom_dropdown">
                                                <input type="text" class="form-control dropdown_toggle" value=""
                                                    name="center" placeholder="Select centers" />
                                                <input type="hidden" name="center" id="selectedCenterIds">
                                                <div class="dropdown_menu">
                                                    <div class="checkbox_item select_all_container">
                                                        <input type="checkbox" id="select_all"
                                                            class="select_all_checkbox">
                                                        <label for="select_all">Select All</label>
                                                    </div>
                                                    <div class="checkbox_item">
                                                        <input type="checkbox" id="center" data-name="Any"
                                                            class="center_checkbox">
                                                        <label for="center">Any</label>
                                                    </div>

                                                    <hr style="margin: 5px 0;">

                                                    <% if(centers && centers.length> 0) { %>
                                                        <% centers.forEach((center, index)=> { %>

                                                            <div class="checkbox_item">
                                                                <input type="checkbox" id="center<%= index %>"
                                                                    value="<%= center._id %>"
                                                                    data-name="<%= center.name %>"
                                                                    class="center_checkbox">
                                                                <label for="center<%= index %>">
                                                                    <%= center.name %>
                                                                </label>
                                                            </div>
                                                            <% }) %>
                                                                <% } else { %>
                                                                    <p>No centers available</p>
                                                                    <% } %>


                                                </div>
                                            </div>
                                        </div>


                                        <!-- <div class="col-xl-4 mb-1">
                                                <label>Course</label>
                                                <input type="text" class="form-control" value="" name="course"
                                                    placeholder="Course" />
                                            </div> -->
                                        <div class="col-xl-6 mb-1 dropdown__container course-section">
                                            <label>Course</label>
                                            <div class="custom__dropdown">
                                                <input type="text" class="form-control dropdown__toggle" value=""
                                                    name="course" placeholder="Select courses" />
                                                <input type="hidden" name="course" id="selectedCoursesIds">
                                                <div class="dropdown__menu">
                                                    <div class="checkbox__item select__all__container">
                                                        <input type="checkbox" id="select__all__courses"
                                                            class="select__all__checkbox">
                                                        <label for="select__all__courses">Select All</label>
                                                    </div>
                                                    <div class="checkbox__item">
                                                        <input type="checkbox" id="course" data-name="Any"
                                                            class="course__checkbox">
                                                        <label for="course">Any</label>
                                                    </div>
                                                    <hr style="margin: 5px 0;">

                                                    <!-- <div class="checkbox__item">
                                                            <input type="checkbox" id="course2" value="Data Science" class="course__checkbox">
                                                            <label for="course2">Data Science</label>
                                                        </div>
                                                        <div class="checkbox__item">
                                                            <input type="checkbox" id="course3" value="Mobile App Development" class="course__checkbox">
                                                            <label for="course3">Mobile App Development</label>
                                                        </div> -->

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12 mb-1 text-right">
                                            <br />

                                            <button onclick="addUser()" class="btn btn-success font-small-3 ">
                                                Add
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 rounded equal-height-2 coloumn-2">
                        <div class="card">
                            <div class="row pb-1">
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="card-header">
                                            <h4 class="card-title">All Roles</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table table-hover-animation mb-0 table-hover">
                                        <thead>
                                            <tr>
                                                <th>Role</th>
                                                <th>Email Id</th>
                                                <th>Center</th>
                                                <th>Course</th>
                                                <th>Status</th>

                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% if(users && users.length> 0) { %>
                                                <% users.forEach((user, index)=> { %>
                                                    <tr>
                                                        <td class="text-capitalize">
                                                            <%=user.access.roleName%>

                                                        </td>
                                                        <td>
                                                            <%=user.email%>
                                                        </td>
                                                        <td>

                                                        </td>

                                                        <td></td>

                                                        <td>
                                                            <div
                                                                class="custom-control custom-switch custom-control-inline">

                                                                <input type="checkbox"
                                                                    onclick="myOnOffFunc('<%= user._id %>', '<%= user.status %>', 'users');"
                                                                    class="custom-control-input" id="customSwitch" <% if
                                                                    (user.status) { %> checked<% } %>/>
                                                                    <label class="custom-control-label"
                                                                        for="customSwitch">
                                                                    </label>

                                                            </div>
                                                        </td>

                                                        <td valign="middle">
                                                            <a href="/admin/roles/edit/">
                                                                <i class="feather icon-edit fa-lg primary"></i>
                                                            </a>
                                                        </td>

                                                    </tr>
                                                    <% }) %>
                                                        <% } %>

                                                            <p class="text-center mt-3">No result found</p>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% include ../partials/footer %>

    </div>
    <style>
        .course-section {
    position: relative;
    transition: padding-bottom 0.3s ease-in-out;
}
        .select_all_container {
            border-bottom: 1px solid #eee;
            font-weight: bold;
        }

        .dropdown_menu hr {
            margin: 5px 0;
            border: 0;
            border-top: 1px solid #eee;
        }

        .dropdown_container {
            position: relative;
        }

        .custom_dropdown {
            position: relative;
            cursor: pointer;
        }

        .dropdown_toggle {
            cursor: pointer;
        }

        .dropdown_menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: white;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            padding: 8px;
            margin-top: 2px;
            overflow-y: auto;
            height: 109px;
        }

        .checkbox_item {
            padding: 6px;
            cursor: pointer;
            white-space: nowrap;
        }

        .checkbox_item:hover {
            background-color: #f5f5f5;
        }

        .checkbox_item input {
            /* margin-right: 8px; */
            cursor: pointer;
        }

        .custom__dropdown {
            position: relative;
            cursor: pointer;
        }

        .dropdown__toggle {
            cursor: pointer;
        }

        .dropdown__menu {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: white;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            /* z-index: 1000; */
            padding: 8px;
            margin-top: 2px;
            max-height: 100px;
            overflow-y: auto;
            /* Add transition properties */
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: all 0.3s ease-in-out;
        }

        .dropdown__menu.open {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        .checkbox__item {
            padding: 2px 6px;
            cursor: pointer;
            white-space: nowrap;
        }

        .checkbox__item:hover {
            background-color: #f5f5f5;
        }

        .checkbox__item input {
            margin-right: 8px;
            cursor: pointer;
        }

        .checkbox__item label {
            margin-right: 8px;
        }

        .select__all__container {
            font-weight: bold;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const centerCheckboxes = document.querySelectorAll('.center_checkbox');
            const courseDropdownMenu = document.querySelector('.dropdown__menu');

            centerCheckboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    handleCenterChange();
                });
            });

            function handleCenterChange() {
                let selectedCenters = [];

                // Check if 'Any' is selected
                const anySelected = document.querySelector('.center_checkbox[data-name="Any"]').checked;

                if (anySelected) {
                    // If 'Any' is selected, fetch all courses
                    fetchCourses('any');
                } else {
                    // Get all selected center IDs
                    document.querySelectorAll('.center_checkbox:checked').forEach((cb) => {
                        if (cb.getAttribute('data-name') !== 'Any') {
                            selectedCenters.push(cb.value);
                        }
                    });

                    if (selectedCenters.length > 0) {
                        fetchCourses(selectedCenters);
                    } else {
                        courseDropdownMenu.innerHTML = '<p>Please select centers</p>';
                    }
                }
            }

            function fetchCourses(centerIds) {
                // Clear existing courses
                courseDropdownMenu.innerHTML = '<p>Loading courses...</p>';

                axios.post('/admin/portalaccess/getCoursesByCenter', { centerIds: centerIds })
                    .then((response) => {
                        const courses = response.data.courses;
                        let html = `
                        <div class="checkbox__item select__all__container">
                            <input type="checkbox" id="select__all__courses" class="select__all__checkbox">
                            <label for="select__all__courses">Select All</label>
                        </div>
                        <div class="checkbox__item">
                            <input type="checkbox" id="course" data-name="Any" class="course__checkbox">
                            <label for="course">Any</label>
                        </div>
                        <hr style="margin: 5px 0;">`;

                        if (courses.length > 0) {
                            courses.forEach((course, index) => {
                                html += `
                                <div class="checkbox__item">
                                    <input type="checkbox" id="course${index}" value="${course._id}" data-name="${course.name}" class="course__checkbox">
                                    <label for="course${index}">${course.name}</label>
                                </div>`;
                            });
                        } else {
                            html += `<p>No courses available</p>`;
                        }

                        courseDropdownMenu.innerHTML = html;
                    })
                    .catch((err) => {
                        console.error('Error fetching courses:', err);
                        courseDropdownMenu.innerHTML = '<p>Error fetching courses</p>';
                    });
            }
        });
    </script>

    <script>

        function addUser() {
            const coursehiddenInput = document.getElementById('selectedCoursesIds').value;
            const centerhiddenInput = document.getElementById('selectedCenterIds').value;
            email = document.getElementById('email').value;
            name = document.getElementById('name').value;
            password = document.getElementById('password').value;
            roleName = document.getElementById('roleName').value;
            // Convert comma-separated values to array
            const courseArray = coursehiddenInput ? coursehiddenInput.split(',') : [];
            const centerArray = centerhiddenInput ? centerhiddenInput.split(',') : [];

            let body = {
                name,
                email,
                password,
                role: 11,
                access: {
                    roleName,
                    courseAccess: courseArray,
                    centerAccess: centerArray
                }


            }
            console.log("Data", body)

            let header = { 'x-auth': localStorage.getItem('token'), "Content-Type": "multipart/form-data" }
            axios.post('/admin/portalaccess/addaccess', body, header).then(res => {


                alert("Role Added")
                window.location.reload()



            }).catch(err => {
                console.log(err.message)
            })




        }


        function myOnOffFunc(id, status, model) {
            let myStatus = true;
            if (status === true || status === "true") {
                myStatus = false;
            }
            $.ajax({
                type: "POST",
                url: "/admin/changestatus",
                data: {
                    id,
                    status: myStatus,
                    model,
                },
                success: () => location.reload()
            });
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dropdownToggle = document.querySelector('.dropdown_toggle');
            const dropdownMenu = document.querySelector('.dropdown_menu');
            const courseDropdownMenu = document.querySelector('.dropdown__menu'); 

            const checkboxes = document.querySelectorAll('.center_checkbox');
            const selectAllCheckbox = document.querySelector('.select_all_checkbox');
            const hiddenInput = document.getElementById('selectedCenterIds');
            const anyCheckbox = document.querySelector('.center_checkbox[data-name="Any"]');

            // ✅ Center Dropdown Toggle
            dropdownToggle.addEventListener('click', function (event) {
                event.stopPropagation();
                courseDropdownMenu.classList.remove('open'); 
                dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
            });

            // ✅ Close Dropdown Outside Click
            document.addEventListener('click', function (event) {
                if (!event.target.closest('.custom_dropdown')) {
                    dropdownMenu.style.display = 'none';
                }
            });

            
            selectAllCheckbox.addEventListener('change', function () {
                const isChecked = this.checked;
                checkboxes.forEach(cb => cb.checked = isChecked);
                anyCheckbox.checked = false;
                updateInputValue();
            });

           
            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    if (checkbox === anyCheckbox && anyCheckbox.checked) {
                        checkboxes.forEach(cb => { if (cb !== anyCheckbox) cb.checked = false; });
                        selectAllCheckbox.checked = false;
                    }
                    if (checkbox !== anyCheckbox && checkbox.checked) {
                        anyCheckbox.checked = false;
                    }

                    const checkedCenters = document.querySelectorAll('.center_checkbox:not([data-name="Any"]):checked').length;
                    const totalCenters = document.querySelectorAll('.center_checkbox:not([data-name="Any"])').length;
                    selectAllCheckbox.checked = checkedCenters === totalCenters;
                    selectAllCheckbox.indeterminate = (checkedCenters > 0 && checkedCenters < totalCenters);

                    updateInputValue();
                });
            });

            
            function updateInputValue() {
                const selectedCenters = [];
                let ids = [];
                checkboxes.forEach(cb => {
                    if (cb.checked) {
                        selectedCenters.push(cb.getAttribute('data-name'));
                        ids.push(cb.value);
                    }
                });
                dropdownToggle.value = selectedCenters.join(', ');
                hiddenInput.value = ids.join(',');
            }

            // Prevent dropdown close on select all click
            document.querySelector('.select_all_container').addEventListener('click', function (event) {
                event.stopPropagation();
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const courseSection = document.querySelector('.course-section');
            const courseDropdownToggle = document.querySelector('.dropdown__toggle');
            const courseDropdownMenu = document.querySelector('.dropdown__menu');
            const dropdownMenu = document.querySelector('.dropdown_menu');

            let courseCheckboxes = document.querySelectorAll('.course__checkbox');
            const courseSelectAllCheckbox = document.getElementById('select__all__courses');
            const coursehiddenInput = document.getElementById('selectedCoursesIds');
            const anyCheckboxCourse = document.querySelector('.course__checkbox[data-name="Any"]');

            // ✅ Course Dropdown Toggle
            courseDropdownToggle.addEventListener('click', function (event) {
                event.stopPropagation();
                dropdownMenu.style.display = 'none';
                courseDropdownMenu.classList.toggle('open');
                if (courseDropdownMenu.classList.contains('open')) {
                    courseSection.style.paddingBottom = '90px';
                } else {
                    courseSection.style.paddingBottom = '0';
                }
            });
            document.addEventListener('click', function (event) {
                if (!event.target.closest('.custom__dropdown')) {
                    courseDropdownMenu.classList.remove('open');
                    courseSection.style.paddingBottom = '0';
                }
            });
            // ✅ Close Course Dropdown Outside Click
            document.addEventListener('click', function (event) {
                if (!event.target.closest('.custom__dropdown')) {
                    courseDropdownMenu.classList.remove('open');
                }
            });

            // ✅ Select All Courses
            courseSelectAllCheckbox.addEventListener('change', function () {
                const isChecked = this.checked;
                courseCheckboxes.forEach(cb => cb.checked = isChecked);
                anyCheckboxCourse.checked = false;
                updateCourseInputValue();
            });

            // ✅ Individual Course Checkbox Logic
            document.addEventListener('change', function (event) {
                if (event.target.classList.contains('course__checkbox')) {
                    if (event.target === anyCheckboxCourse && anyCheckboxCourse.checked) {
                        courseCheckboxes.forEach(cb => { if (cb !== anyCheckboxCourse) cb.checked = false; });
                        courseSelectAllCheckbox.checked = false;
                    }

                    if (event.target !== anyCheckboxCourse && event.target.checked) {
                        anyCheckboxCourse.checked = false;
                    }

                    const checkedCourses = document.querySelectorAll('.course__checkbox:not([data-name="Any"]):checked').length;
                    const totalCourses = document.querySelectorAll('.course__checkbox:not([data-name="Any"])').length;
                    courseSelectAllCheckbox.checked = checkedCourses === totalCourses;
                    courseSelectAllCheckbox.indeterminate = (checkedCourses > 0 && checkedCourses < totalCourses);

                    updateCourseInputValue();
                }
            });

            // ✅ Update Selected Courses Value
            function updateCourseInputValue() {
                courseCheckboxes = document.querySelectorAll('.course__checkbox'); // Refresh checkboxes
                const selectedCourses = [];
                let ids = [];
                courseCheckboxes.forEach(cb => {
                    if (cb.checked) {
                        selectedCourses.push(cb.getAttribute('data-name'));
                        ids.push(cb.value);
                    }
                });
                courseDropdownToggle.value = selectedCourses.join(', ');
                coursehiddenInput.value = ids.join(',');
            }

            // Prevent dropdown close on select all click
            document.querySelector('.select__all__container').addEventListener('click', function (event) {
                event.stopPropagation();
            });
        });
    </script>

    <!-- <script>
    document.addEventListener('DOMContentLoaded', function () {
        const dropdownToggle = document.querySelector('.dropdown_toggle');
        const dropdownMenu = document.querySelector('.dropdown_menu');

      

        const checkboxes = document.querySelectorAll('.center_checkbox');
        const selectAllCheckbox = document.querySelector('.select_all_checkbox');
        const hiddenInput = document.getElementById('selectedCenterIds');
        const anyCheckbox = document.querySelector('.center_checkbox[data-name="Any"]');
    
        // ✅ Dropdown Toggle
        dropdownToggle.addEventListener('click', function (event) {
            event.stopPropagation();
            dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
        });
    
        // ✅ Close Dropdown Outside Click
        document.addEventListener('click', function (event) {
            if (!event.target.closest('.custom_dropdown')) {
                dropdownMenu.style.display = 'none';
            }
        });
    
        // ✅ Select All Functionality
        selectAllCheckbox.addEventListener('change', function (event) {
            event.stopPropagation();
            const isChecked = this.checked;
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = isChecked;
            });
            anyCheckbox.checked = false;  // Uncheck 'Any' if Select All is checked
            updateInputValue();
        });
    
        // ✅ Individual Center Checkbox Logic
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function (event) {
                event.stopPropagation();
    
                // If "Any" is selected, uncheck all others
                if (checkbox === anyCheckbox && anyCheckbox.checked) {
                    checkboxes.forEach(function (cb) {
                        if (cb !== anyCheckbox) cb.checked = false;
                    });
                    selectAllCheckbox.checked = false;
                }
    
                // If any center (except "Any") is checked, uncheck "Any"
                if (checkbox !== anyCheckbox && checkbox.checked) {
                    anyCheckbox.checked = false;
                }
    
                // Auto handle Select All
                const checkedCenters = document.querySelectorAll('.center_checkbox:not([data-name="Any"]):checked').length;
                const totalCenters = document.querySelectorAll('.center_checkbox:not([data-name="Any"])').length;
                selectAllCheckbox.checked = (checkedCenters === totalCenters);
                selectAllCheckbox.indeterminate = (checkedCenters > 0 && checkedCenters < totalCenters);
    
                updateInputValue();
            });
    
            checkbox.parentElement.addEventListener('click', function (event) {
                event.stopPropagation();
            });
        });
    
        // ✅ Update selected value in input
        function updateInputValue() {
            const selectedCenters = [];
            let ids = [];
            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    selectedCenters.push(checkbox.getAttribute('data-name'));
                    ids.push(checkbox.value);
                }
            });
            dropdownToggle.value = selectedCenters.join(', ');
            hiddenInput.value = ids.join(',');
        }
    
        // Prevent dropdown close when clicking "Select All" label
        document.querySelector('.select_all_container').addEventListener('click', function (event) {
            event.stopPropagation();
        });
    });
    </script> -->

    <script>

        document.addEventListener('change', function (event) {
            // Any checkbox reference
            const anyCheckboxCourse = document.querySelector('.course__checkbox[data-name="Any"]');
            const allCourses = document.querySelectorAll('.course__checkbox:not([data-name="Any"])');
            const selectAll = document.getElementById('select__all__courses');

            // ✅ If "Any" clicked
            if (event.target === anyCheckboxCourse && anyCheckboxCourse.checked) {
                // Uncheck all courses & Select All
                allCourses.forEach(cb => cb.checked = false);
                selectAll.checked = false;
            }

            // ✅ If "Select All" clicked
            if (event.target === selectAll && selectAll.checked) {
                // Uncheck "Any"
                anyCheckboxCourse.checked = false;
                // Check all courses
                allCourses.forEach(cb => cb.checked = true);
            }

            // ✅ If individual course clicked (excluding "Any")
            if (event.target.classList.contains('course__checkbox') && event.target !== anyCheckboxCourse && event.target !== selectAll) {
                if (event.target.checked) {
                    anyCheckboxCourse.checked = false;
                }
            }

            // ✅ Auto manage Select All state based on individual courses
            const checkedCourses = document.querySelectorAll('.course__checkbox:not([data-name="Any"]):checked').length;
            if (checkedCourses === allCourses.length) {
                selectAll.checked = true;
            } else {
                selectAll.checked = false;
            }
        });


        // document.addEventListener('DOMContentLoaded', function () {
        //     const courseDropdownToggle = document.querySelector('.dropdown__toggle');
        //     const courseDropdownMenu = document.querySelector('.dropdown__menu');
        //     let courseCheckboxes = document.querySelectorAll('.course__checkbox');
        //     const courseSelectAllCheckbox = document.getElementById('select__all__courses');
        //     const coursehiddenInput = document.getElementById('selectedCoursesIds');
        //     const anyCheckboxCourse = document.querySelector('.course__checkbox[data-name="Any"]');

        //     // ✅ Make dropdown clickable
        //     courseDropdownToggle.addEventListener('click', function (event) {
        //         event.stopPropagation();
        //         courseDropdownMenu.classList.toggle('open');
        //     });

        //     // ✅ Close dropdown when clicking outside
        //     document.addEventListener('click', function (event) {
        //         if (!event.target.closest('.custom__dropdown')) {
        //             courseDropdownMenu.classList.remove('open');
        //         }
        //     });

        //     // ✅ **Select All functionality for courses**
        //     courseSelectAllCheckbox.addEventListener('change', function (event) {
        //         event.stopPropagation();
        //         const isChecked = this.checked;

        //         // ✅ **अब सभी courses checkbox को update कर रहे हैं**
        //         courseCheckboxes.forEach(function (checkbox) {
        //             checkbox.checked = isChecked;
        //         });

        //         updateCourseInputValue();
        //     });

        //     // ✅ **Handle individual course selection**
        //     document.addEventListener('change', function (event) {
        //         if (event.target.classList.contains('course__checkbox')) {
        //             updateCourseInputValue();
        //             updateCourseSelectAllCheckbox();
        //         }
        //     });

        //     // ✅ **Handle "Any" checkbox logic**
        //     anyCheckboxCourse.addEventListener('change', function (event) {
        //         event.stopPropagation();
        //         if (this.checked) {
        //             courseCheckboxes.forEach(function (checkbox) {
        //                 if (checkbox !== anyCheckboxCourse) {
        //                     checkbox.checked = false;
        //                 }
        //             });
        //         }
        //         updateCourseInputValue();
        //         updateCourseSelectAllCheckbox();
        //     });

        //     // ✅ **Function to update "Select All" checkbox**
        //     function updateCourseSelectAllCheckbox() {
        //         courseCheckboxes = document.querySelectorAll('.course__checkbox'); // 🔄 Refresh checkboxes
        //         const checkedCount = document.querySelectorAll('.course__checkbox:checked').length;
        //         courseSelectAllCheckbox.checked = checkedCount === courseCheckboxes.length;
        //         courseSelectAllCheckbox.indeterminate = checkedCount > 0 && checkedCount < courseCheckboxes.length;
        //     }

        //     // ✅ **Function to update input value**
        //     function updateCourseInputValue() {
        //         courseCheckboxes = document.querySelectorAll('.course__checkbox'); // 🔄 Refresh checkboxes
        //         const selectedCourses = [];
        //         let ids = [];
        //         courseCheckboxes.forEach(function (checkbox) {
        //             if (checkbox.checked) {
        //                 selectedCourses.push(checkbox.getAttribute('data-name'));
        //                 ids.push(checkbox.value);
        //             }
        //         });

        //         courseDropdownToggle.value = selectedCourses.join(', ');
        //         coursehiddenInput.value = ids.join(',');
        //     }

        //     // ✅ **Prevent dropdown from closing when clicking inside**
        //     document.querySelector('.select__all__container').addEventListener('click', function (event) {
        //         event.stopPropagation();
        //     });
        // });


    </script>